.aside {
    background-color: var(--light);
    padding: 1rem;
}

.search p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
    color: var(--white);
}

.search input {
    padding: 0.2rem;
    width: 70%;
}

.search button {
    border-left: var(--light) 1px solid;
    border-top: 1px var(--light) solid;
    border-right: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
    border-radius: 50%;
    padding: 0.2rem;
    background-color: var(--primary);
    color: var(--white);
    margin-left: 1rem ;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search button:hover {
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
}

.aside-list-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    color: var(--white);
}

.list-item {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
    
    
}

.list-item > * {
    text-decoration: none;
    color: var(--white);
}

.list-item:hover{
    background-color: var(--white);
    
}

.list-item:hover > * {
    color: var(--dark);
}

.aside-list-lists {
    display: flex;
    gap: 2rem;
}