<section class="aside">
    <aside class="aside-aside">
        <section class="search">
            <p>quickserach</p>
            <input type="text">
            <button type="button">go</button>
        </section>
        <section class="aside-list">
            <p class="aside-list-title">genre</p>
            <div class="aside-list-lists">
                <ul class="aside-list-list">
                    <li>
                        <a href="">MMORPG</a>
                    </li>

                    <li>
                        <a href="">Strategy</a>
                    </li>

                    <li>
                        <a href="">Battle royale</a>
                    </li>
                    <li>
                        <a href="">Sports</a>
                    </li>
                </ul>
                <ul class="aside-list-list">
                    <li>
                        <a href="">Roleplay</a>
                    </li>

                    <li>
                        <a href="">Cards</a>
                    </li>

                    <li>
                        <a href="">Simulation</a>
                    </li>
                    <li>
                        <a href="">MOBA</a>
                    </li>
                    <li>
                        <a href="">Adventure</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="aside-list">
            <p class="aside-list-title">popular now</p>
            <div class="aside-list-lists">
                <ul class="aside-list-list">
                    <li>
                        <a href="">League of Legends</a>
                    </li>

                    <li>
                        <a href="">Elden Ring</a>
                    </li>

                    <li>
                        <a href="">World of Warcraft: Classic</a>
                    </li>
                    <li>
                        <a href="">Apex Legends</a>
                    </li>
                    <li>
                        <a href="">Overwatch</a>
                    </li>
                </ul>
                <ul class="aside-list-list">
                    <li>
                        <a href="">Dota 2</a>
                    </li>

                    <li>
                        <a href="">Valorant</a>
                    </li>

                    <li>
                        <a href="">GTA V</a>
                    </li>
                    <li>
                        <a href="">CS:GO</a>
                    </li>
                    <li>
                        <a href="">FIFA 22</a>
                    </li>
                </ul>
            </div>
        </section>
    </aside>
</section>
