<section class="aside">
    <aside class="aside-aside">
        <!-- <section class="search">
            <p>quickserach</p>
            <input type="text">
            <button type="button">go</button>
        </section> -->
        <section class="aside-list">
            <p class="aside-list-title">genre</p>
            <div class="aside-list-lists">
                <ul class="aside-list-list">
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'mmorpg'}">MMORPG</a>
                    </li>

                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'strategy'}">Strategy</a>
                    </li>

                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'battleroyale'}">Battle royale</a>
                    </li>
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'sports'}">Sports</a>
                    </li>
                </ul>
                <ul class="aside-list-list">
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'roleplay'}">Roleplay</a>
                    </li>

                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'cards'}">Cards</a>
                    </li>

                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'simulation'}">Simulation</a>
                    </li>
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'moba'}">MOBA</a>
                    </li>
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'genre', genre: 'adventure'}">Adventure</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="aside-list">
            <p class="aside-list-title">popular now</p>
            <div class="aside-list-lists">
                <ul class="aside-list-list">
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'League of Legends'}">League of Legends</a>
                    </li>

                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'Elden Ring'}">Elden Ring</a>
                    </li>

                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'World of Warcraft: Classic'}">World of Warcraft: Classic</a>
                    </li>
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'Apex Legends'}">Apex Legends</a>
                    </li>
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'Overwatch'}">Overwatch</a>
                    </li>
                </ul>
                <ul class="aside-list-list">
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'Dota 2'}">Dota 2</a>
                    </li>

                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'Valoran'}">Valorant</a>
                    </li>

                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'GTA V'}">GTA V</a>
                    </li>
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'CS:GO'}">CS:GO</a>
                    </li>
                    <li class="list-item">
                        <a [routerLink]="['/threads']" [queryParams]="{searchBy: 'game', game: 'FIFA 22'}">FIFA 22</a>
                    </li>
                </ul>
            </div>
        </section>
    </aside>
</section>
