<section class="aside">
    <aside class="aside-aside">
        <section class="search">
            <p>quickserach</p>
            <input type="text">
            <button type="button">go</button>
        </section>
        <section class="aside-list">
            <p class="aside-list-title">favourite toys by age</p>
            <div class="aside-list-lists">
                <ul class="aside-list-list">
                    <li>
                        <a href="">0-12 months</a>
                    </li>

                    <li>
                        <a href="">12-24 months</a>
                    </li>

                    <li>
                        <a href="">24-36 months</a>
                    </li>
                    <li>
                        <a href="">3-4 years</a>
                    </li>
                    <li>
                        <a href="">4-5 years</a>
                    </li>
                </ul>
                <ul class="aside-list-list">
                    <li>
                        <a href="">5-6 years</a>
                    </li>

                    <li>
                        <a href="">6-7 years</a>
                    </li>

                    <li>
                        <a href="">7-8 years</a>
                    </li>
                    <li>
                        <a href="">8-9 years</a>
                    </li>
                    <li>
                        <a href="">9+ years</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="aside-list">
            <p class="aside-list-title">toy recommendations</p>
            <div class="aside-list-lists">
                <ul class="aside-list-list">
                    <li>
                        <a href="">0-12 months</a>
                    </li>

                    <li>
                        <a href="">12-24 months</a>
                    </li>

                    <li>
                        <a href="">24-36 months</a>
                    </li>
                    <li>
                        <a href="">3-4 years</a>
                    </li>
                    <li>
                        <a href="">4-5 years</a>
                    </li>
                </ul>
                <ul class="aside-list-list">
                    <li>
                        <a href="">5-6 years</a>
                    </li>

                    <li>
                        <a href="">6-7 years</a>
                    </li>

                    <li>
                        <a href="">7-8 years</a>
                    </li>
                    <li>
                        <a href="">8-9 years</a>
                    </li>
                    <li>
                        <a href="">9+ years</a>
                    </li>
                </ul>
            </div>
        </section>
    </aside>
</section>
