.not-found-section {
    height: 100vh;
    text-align: center;
    color: var(--white);
    padding-top: 7rem;
    margin-top: 9rem;

}

.not-found-title {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 4px;
}

p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}