<section class="main-card" routerLink="/thread">
    <div class="card-top-wrap">
        <section class="main-card-title">
            <p>picks of</p>
            <p>the month</p>
            <p>October</p>
        </section>
        
    </div>
    <div class="card-wrap">
        <section class="main-card-explain">
            <p>We've handpicked the world's most unique,
                extraordinary, and amazing toys
                for each age range.
            </p>
        </section>
        <img class="card-img"
        src="https://target.scene7.com/is/image/Target/GUEST_ebe5621a-be50-4f22-89c2-b339e6eaed3b?wid=488&hei=488&fmt=pjpeg"
        alt="">
    </div>
    
    <p>Explore the new eToys Idea Center. With interviews
        and activities that fascinate kids, it's a whole new way to
        think about play.
    </p>
</section>
<section class="main-card">
    <div class="card-top-wrap">
        <section class="main-card-title">
            <p>picks of</p>
            <p>the month</p>
            <p>October</p>
        </section>
        
    </div>
    <div class="card-wrap">
        <section class="main-card-explain">
            <p>We've handpicked the world's most unique,
                extraordinary, and amazing toys
                for each age range.
            </p>
        </section>
        <img class="card-img"
        src="https://target.scene7.com/is/image/Target/GUEST_ebe5621a-be50-4f22-89c2-b339e6eaed3b?wid=488&hei=488&fmt=pjpeg"
        alt="">
    </div>
    
    <p>Explore the new eToys Idea Center. With interviews
        and activities that fascinate kids, it's a whole new way to
        think about play.
    </p>
</section>
<section class="main-card">
    <div class="card-top-wrap">
        <section class="main-card-title">
            <p>picks of</p>
            <p>the month</p>
            <p>October</p>
        </section>
        
    </div>
    <div class="card-wrap">
        <section class="main-card-explain">
            <p>We've handpicked the world's most unique,
                extraordinary, and amazing toys
                for each age range.
            </p>
        </section>
        <img class="card-img"
        src="https://target.scene7.com/is/image/Target/GUEST_ebe5621a-be50-4f22-89c2-b339e6eaed3b?wid=488&hei=488&fmt=pjpeg"
        alt="">
    </div>
    
    <p>Explore the new eToys Idea Center. With interviews
        and activities that fascinate kids, it's a whole new way to
        think about play.
    </p>
</section>
<section class="main-card">
    <div class="card-top-wrap">
        <section class="main-card-title">
            <p>picks of</p>
            <p>the month</p>
            <p>October</p>
        </section>
        
    </div>
    <div class="card-wrap">
        <section class="main-card-explain">
            <p>We've handpicked the world's most unique,
                extraordinary, and amazing toys
                for each age range.
            </p>
        </section>
        <img class="card-img"
        src="https://target.scene7.com/is/image/Target/GUEST_ebe5621a-be50-4f22-89c2-b339e6eaed3b?wid=488&hei=488&fmt=pjpeg"
        alt="">
    </div>
    
    <p>Explore the new eToys Idea Center. With interviews
        and activities that fascinate kids, it's a whole new way to
        think about play.
    </p>
</section>