.main-main {
    margin: 0.4rem 0 0 10rem;
    border: 1px solid #99CCFF;
    border-radius: 1.2rem 1.2rem 0 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    width: calc(75%) - 10rem;
}

.main-card {
    position: relative;
    padding: 1.5rem;
    cursor: pointer;
    margin: 1rem;
    color: #00009A;
    border: 1px solid white;
    transition: 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main-card .card-two-top-wrap {
    position: relative;
    width: 100%;
}

.main-card-title  {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.title {
    font-size: 1.8rem;
    width: 50%;
}


.game {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 1rem;
}

.main-card .main-card-explain {
    
    width: 50%;
    font-size: 1rem;
    text-align: center;
    
}

.card-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 50%;
}

.main-card .card-img {
    max-width: 50%;
    border-radius: 2rem;
}


.main-card > p {
    font-size: 1.2rem;
    padding-top: 1.2rem;
    text-align: center;
    
}

.main-card:hover {
    border-color: #00009A;
    border-radius: 2.5rem;  
}