<section class="main-card" routerLink="/thread/{{thread.id}}">
    <div class="card-top-wrap">
        <section class="main-card-title">
            <p class="title">{{thread.title}}</p>
            <p class="game">{{thread.game}}</p>
        </section>
    </div>
    <div class="card-wrap">
        <section class="main-card-explain">
            <p>New patch 3.3.5a notes, new instances and much more.</p>
        </section>
        <img class="card-img" [src]="thread.imagePath" alt="">
    </div>
</section>