<section class="main-card" routerLink="/thread">
    <div class="card-top-wrap">
        <section class="main-card-title">
            <p class="title">Patch notes</p>
            <p class="game">World of Warcraft</p>
        </section>
    </div>
    <div class="card-wrap">
        <section class="main-card-explain">
            <p>New patch 3.3.5a notes, new instances and much more.
            </p>
        </section>
        <img class="card-img"
        src="https://media.moddb.com/images/downloads/1/156/155405/Word_of_Warcraft_62.jpg"
        alt="">
    </div>
</section>
