.main-card {
    position: relative;
    padding: 1.5rem;
    cursor: pointer;
    color: var(--white);
    transition: 0.3s ease-out;
    height: 10rem;
}


.main-card .card-two-top-wrap {
    position: relative;
    width: 100%;
}

.main-card-title  {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.title {
    font-size: 1.2rem;
    width: 75%;
}


.game {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.main-card .main-card-explain {
    
    width: 50%;
    font-size: 1rem;
    text-align: center;
}

.card-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-card .card-img {
    height: 8rem;
    width: 15rem;
    border-radius: 2rem;
}


.main-card > p {
    font-size: 1.2rem;
    padding-top: 1.2rem;
    text-align: center;
    
}

.main-card:hover {
    border-color: var(--white);
    background-color: var(--active);
    color: var(--dark);
    transform: scale(1.05);
}