.main-comments {
    padding: 5rem;
    border-top: 1px solid var(--dark);
    border-radius: 1rem;
    margin: 2.5rem;
}

.comment {
    margin-bottom: 2rem;
}

.userPfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.no-comments {
    font-size: 2rem;
    text-align: center;
}


.loginToComment {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}