.main-comments {
    padding: 5rem;
    border-top: 1px solid black;
    border-radius: 1rem;
    margin: 2.5rem;
}

.comment {
    margin-bottom: 2rem;
}

.userPfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.no-comments {
    font-size: 2rem;
    text-align: center;
}

.profile-btn {
    margin-top: 1rem;
    padding: 0.8rem 0.6rem;
    width: 10%;
    color: #00009A;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 0.1rem solid #00009A;
    transition: 0.2s ease-in-out;
}

.profile-btn:hover {
    background-color: #00009A;
    color: white;
    cursor: pointer;
}

.loginToComment {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}