<section class="main-comments">
    <div *ngIf="isLogged()">
        <section class="comment">
            <form [formGroup]="form" class="comment-form" id="comment-form" (submit)="onPost()">
                <img class="userPfp" src="{{currentUserPfp}}" alt="">
                <textarea formControlName="content" class="textarea comment" name="game" id="" cols="1" rows="2"
                    placeholder="Your comment..." (focus)="onFormFocus()"></textarea>
            </form>
            <button [disabled]="form.invalid" [ngClass]="{'visible': formSelected}" class="form-btn" form="comment-form"
                type="submit">Post</button>
        </section>
    </div>
    <div *ngIf="!isLogged()">
        <p class="loginToComment">Login to comment <a routerLink="/login">here!</a></p>
    </div>
    <div *ngIf="comments?.length === 0">
        <h1 class="no-comments">No comments yet! Be the first one!</h1>
    </div>
    <app-thread-comments-item *ngFor="let comment of comments" [comment]="comment" (delete)="deleteComment($event)">
    </app-thread-comments-item>

</section>