.main-comments {
    padding: 5rem;
    border-top: 1px solid var(--primary);
    margin: 2.5rem;
}

.comment {
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
}

.userPfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.no-comments {
    font-size: 2rem;
    text-align: center;
}

.form-btn {
    width: max-content;
    height: max-content;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.comment-form {
    width: 100%;
}

.textarea.comment {
    background: transparent;
    border: 1px solid transparent;
    color: var(--white);
    font-size: 1rem;
}

.textarea.comment:focus {
    border-bottom: 1px solid var(--active);
}


.loginToComment {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}