.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-main {
    position: relative;
    background-color: var(--light);
    display: flex;
    padding: 2rem 3rem;
    align-content: space-between;
    align-items: center;
}

.header-logo {
    background: transparent;
    height: auto;
    width: auto;
    max-width: 3.5rem;
}

.header-title-and-slogan {
    display: flex;
    align-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-title-title {
    font-size: 1.2rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.3rem;
    font-family: sans-serif;
    color: var(--white);
}

.middle-nav {
    position: absolute;
    bottom: 0;
    right: 1.1rem;
}

.middle-nav-list {
    display: flex;
    gap: 0.3rem;
    
}

.middle-nav-list-item {
    display: table;
    font-size: 0.85rem;
    background-color: var(--primary) ;
    border: 0.1rem solid var(--primary);
    text-align: center;
    width: 4rem;
    padding: 0.4rem 0.6rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.current-user {
    display: flex;
    gap: 0.2rem
}

.middle-nav-list-item:hover {
    background-color: var(--active);
    border-color: var(--active);
    color: var(--white);
}

.middle-nav-list-item.logout:hover {
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
}


.middle-nav-list-item:hover a {
    color: var(--white);  
}

.is-active {
    background-color: var(--active);
    border-color: var(--active);
}

.is-active a{
    color: var(--white);
}

.middle-nav-list-item-link {
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.04rem;
}

.lower-nav {
    background-color: var(--primary);
    padding: 1rem;
    position: relative;
}

.lower-nav-container {
    position: absolute;
    left: 0;
    top: 0;
}

.lower-nav-list {
    display: flex;
    
}

.lower-nav-list-item {
    padding: 1rem;
    background-color: var(--primary);
    text-transform: lowercase;
    
}

.lower-nav-list-item:last-child {
    padding-right: 3rem;
    border-bottom-right-radius: 3rem;
    
}

.lower-nav-list-link {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: sans-serif;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    color: var(--white);
    border-right: 1px solid var(--white);
    padding: 0 1.9rem 0 0;
}

.lower-nav-list-item:last-child a {
    border-right: none;
}