<header class="header">
    <div class="header-container">
        <section class="header-main">
            <div class="header-title-and-slogan">
                <section class="header-title">
                    <h1 class="header-title-title">Gamepedia</h1>
                    <!-- <img class="header-logo"
                        src="../../../assets/gamepedia.jpg" alt=""> -->
                </section>
                <section class="header-slogan">
                    <img class="header-logo" src="../../../assets/gamepedia.jpg" alt="">
                </section>
            </div>
            <section class="middle-nav">
                <ul class="middle-nav-list">
                    <li class="middle-nav-list-item" routerLink="/home" routerLinkActive="is-active">
                        <a class="middle-nav-list-item-link">
                            Home
                        </a>
                    </li>
                    <li class="middle-nav-list-item" routerLink="/about" routerLinkActive="is-active">
                        <a class="middle-nav-list-item-link">
                            About Us
                        </a>
                    </li>
                    <div class="current-user" *ngIf="!isLogged()">
                        <li class="middle-nav-list-item" routerLink="/login" routerLinkActive="is-active">
                            <a class="middle-nav-list-item-link">
                                Login
                            </a>
                        </li>
                        <li class="middle-nav-list-item" routerLink="/register" routerLinkActive="is-active">
                            <a class="middle-nav-list-item-link">
                                Register
                            </a>
                        </li>
                    </div>
                    <div class="current-user" *ngIf="isLogged()">

                        <li class="middle-nav-list-item" routerLink="/profile/{{userProfile}}" routerLinkActive="is-active">
                            <a class="middle-nav-list-item-link">
                                My profile
                            </a>
                        </li>
                        <li class="middle-nav-list-item logout">
                            <a class="middle-nav-list-item-link logout" href="" (click)="onLogout()">
                                Logout
                            </a>
                        </li>
                    </div>

                </ul>
            </section>

        </section>
    </div>

    <section class="lower-nav">
        <div class="lower-nav-container">
            <ul class="lower-nav-list"> 
                <li class="lower-nav-list-item">
                    <a class="lower-nav-list-link" routerLink="/create-thread">
                        create thread
                    </a>
                </li>
                <li class="lower-nav-list-item">
                    <a class="lower-nav-list-link" routerLink="/profile/{{userProfile}}/threads">
                        my threads
                    </a>
                </li>
                <li class="lower-nav-list-item">
                    <a class="lower-nav-list-link" href="">
                        my likes
                    </a>
                </li>
                <li class="lower-nav-list-item">
                    <a class="lower-nav-list-link" href="">
                        saved
                    </a>
                </li>

            </ul>
        </div>
    </section>
</header>