<div class="main">
    <app-aside></app-aside>
    <div class="main-main">
        <section class="profile-actions" *ngIf="thread.authorId == currentUser!">
            <button class="profile-btn delete" (click)="onDelete()" >Delete</button>
            <!-- <button class="profile-btn" routerLink="/edit-profile">Edit</button> -->
        </section>
        <section class="main-details">
            
            <div class="details-top-wrap">
                <section class="main-details-title">
                    <p class="title">{{thread.title}}</p>
                    <p class="game">{{thread.game}}</p>
                </section>

            </div>
            <div class="img-wrap">
                <img class="details-img" src="{{thread.photoUrl}}" alt="">
            </div>

            <div class="details-bot-wrap">
                <h3 routerLink="/profile/{{thread.authorId}}">{{thread.authorName}}</h3>
                <h3>Likes: {{likes.length}}</h3>
                
                <div class="details-actions">
                    <fa-icon [ngClass]="{'liked': !liked, '': liked}" (click)="onLikeClick()" class="icon"
                        [icon]="faHeart"></fa-icon>
                    <fa-icon [ngClass]="{'saved': saved, '': !saved}" (click)="onSaveClick()" class="icon"
                        [icon]="faPlus"></fa-icon>
                    <!-- <fa-icon class="icon" [icon]="faShare"></fa-icon>
                    <fa-icon class="icon" [icon]="faReport"></fa-icon> -->
                </div>
            </div>

            <p class="content">
                Blizzard have rolled out the latest patch for the game last night.
                3.3.5 comes with Icecrown Citadel instance both heroic and normal, for 10 and 25 people respectively.
                Blizzard have rolled out the latest patch for the game last night.
                3.3.5 comes with Icecrown Citadel instance both heroic and normal, for 10 and 25 people respectively.
                Blizzard have rolled out the latest patch for the game last night.
                3.3.5 comes with Icecrown Citadel instance both heroic and normal, for 10 and 25 people respectively.
                Blizzard have rolled out the latest patch for the game last night.
                3.3.5 comes with Icecrown Citadel instance both heroic and normal, for 10 and 25 people respectively.

            </p>

            
        </section>

        <app-thread-comments></app-thread-comments>

    </div>

</div>