<main>
    <section class="main-form">
        <div class="form-label">
            <span>Login</span>

        </div>
        <form [formGroup]="form" class="form-form" id="login-form" (submit)="onSubmit()">

            <div class="error req-error" [ngClass]="{'error-visisble': errorMsg !== '',
         '': errorMsg === ''}">
                <p>{{errorMsg}}</p>
            </div>

            <label class="label" for="email">Email</label>
            <input formControlName="email" class="input" type="text" name="email" [ngClass]="{'invalid': form.controls['email'].touched && 
        form.controls['email'].invalid, 'valid':  
        form.controls['email'].valid}">

            <div class="error email-error" [ngClass]="{'error-visisble': form.controls['email'].touched && 
        form.controls['email'].invalid}">
                <p>This is not a valid email</p>
            </div>

            <label class="label" for="password">Password</label>
            <input formControlName="password" class="input" type="password" name="password"
            [ngClass]="{'invalid': form.controls['password'].touched && 
        form.controls['password'].invalid, 'valid':  
        form.controls['password'].valid}">

            <div class="error password-error" [ngClass]="{'error-visisble': form.controls['password'].touched && 
        form.controls['password'].invalid}">
                <p>Invalid password</p>
            </div>

        </form>

        <button class="form-btn" type="submit" form="login-form" value="Submit">Submit</button>
        <p>Don't have an account? <a routerLink="/register">Register here!</a></p>
    </section>
</main>