<main class="main-form">
    <div class="form-label">
        <span>Register</span>
        
    </div>
    <form class="form-form" action="" id="register-form">

        <label class="label" for="name">Name</label>
        <input class="input" type="text" name="name">

        <label class="label" for="email">Email</label>
        <input class="input" type="email" name="email">

        <div class="error email-error error-visisble">
            <p>This is not a valid email</p>
        </div>

        <label class="label" for="password">Password</label>
        <input class="input" type="password" name="password">

        <div class="error password-error error-visisble">
            <p>Invalid password</p>
        </div>

        <label class="label" for="re-password">Repeat Password</label>
        <input class="input" type="password" name="re-password">

        <div class="error re-password-error error-visisble">
            <p>Passwords don't match</p>
        </div>
        
    </form>

    <button class="form-btn" type="submit" form="register-form" value="Submit">Submit</button>
    <p>Already have an account? <a routerLink="/login">Login here!</a></p>
</main>