.main {
    margin-top: 0rem;
}

.main-profile {
    position: relative;
    width: 100%;
    margin: 0 20rem 0 20rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
    max-width: 100%;
    text-align: center;
    color: var(--white);
    border: 1px solid var(--primary);
}

.profile-pic {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    border: 1px solid var(--primary);
    padding: 0.5rem;
}


.profile-info-info {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.profile-info-info h3,
h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.profile-actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

