.main-profile {
    position: relative;
    margin: 12rem 30rem 5rem 30rem;
    padding: 3rem;
    border: 1px solid var(--primary);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    background-color: var(--light);
    max-width: 100%;
    text-align: center;
    height: 100vh;
}


.profile-pic {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    border: 1px solid var(--primary);
    padding: 0.5rem;
}


.profile-info-info {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.profile-info-info h3,
h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.profile-actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

