.profile-main {
    margin-top: 9.4rem;
    max-width: 100%;
}

.about-section{
    margin: 2rem 10rem 2rem 10rem;
    text-align: left;
    background-color: var(--dark);
    font-size: 1.2rem;
    color: var(--white);
}

.banner-wrap {
    position: relative;
    max-width: 100%;
}

.about-section-top img {
    max-width: 100%;
    z-index: 1;
    top: 0;
}

.overlay {
    position: absolute;
    background: linear-gradient(to bottom, transparent 0%, var(--dark) 100%);
    transform: translate(0, -100%);
    z-index: 10;
    height: 100%;
    width: 100%;
}

.user-info-credentials {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
}

.username {
    font-size: 3rem;
    padding: 2rem;
    
}

.user-info-activity {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.user-activity-wrap {
    text-align: center;
}

.user-activity-wrap p {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: var(--active);
}

.user-activity-wrap h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 0.1rem;
}




