<main class="main-profile">
    <div class="form-label">
        <span>My Profile</span>

    </div>
    <section class="profile-info">
        <img class="profile-pic" src="{{profile.photoUrl}}"
            alt="profile_picture">

        <section class="profile-info-info">
            <label for="username">Username</label>
            <h2 class="username">{{profile.username}}</h2>

            <label for="memberships">Threads</label>
            <h3 class="memberships">{{threads.length}}</h3>

        </section>

    </section>

    <section class="profile-actions" *ngIf="profile.id == currentUser">
        <button class="profile-btn delete" (click)="onDelete()">Delete</button>
        <button class="profile-btn" routerLink="/edit-profile">Edit</button>
    </section>

</main>