<main class="main-profile">
    <div class="form-label">
        <span>My Profile</span>

    </div>
    <section class="profile-info">
        <img class="profile-pic" src="https://cdn.mos.cms.futurecdn.net/7pUbqBX8MnDfiUoh67iSX8.jpg"
            alt="profile_picture">

        <section class="profile-info-info">
            <label for="username">Username</label>
            <h2 class="username">todor123</h2>

            <label for="memberships">Threads</label>
            <h3 class="memberships">5</h3>

            <label for="memberships">Memeberships</label>
            <h3 class="memberships">5</h3>
        </section>

    </section>

    <section class="profile-actions">
        <button class="profile-btn delete" >Delete</button>
        <button class="profile-btn" routerLink="/edit-profile">Edit</button>
    </section>

</main>