<section class="about">
    <h1 class="about-title">About Gamepedia</h1>
    <section class="about-section">

        <section class="about-section-top">
            <img src="https://images.pexels.com/photos/194511/pexels-photo-194511.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <p>Gamepedia is a new and upcoming forum and news outlet for games.
            </p>
            <p>Users can share everything ranging from gaming experiences opinions to news and innovations regarding
                both
                old and fresh games. </p>
            <p>
                The friendly and outgoing community is here for everyone facing difficulties overcoming a level in their
                singleplayer games or join them in accomplishing online success in all game genres.
            </p>
        </section>

        <section class="about-section-bottom">
            <img src="https://www.topgear.com/sites/default/files/news-listicle/image/8_rocket_league.jpg"
                alt="">
            <p>Gamepedia is a new and upcoming forum and news outlet for games.
            </p>
            <p>Users can share everything ranging from gaming experiences opinions to news and innovations regarding
                both
                old and fresh games. </p>
            <p>
                The friendly and outgoing community is here for everyone facing difficulties overcoming a level in their
                singleplayer games or join them in accomplishing online success in all game genres.
            </p>
        </section>
    </section>


</section>