@import url(reset.css);
@import url(buttons.css);
@import url(forms.css);
@import url(typography.css);


:root {
    --primary:#8F3985;
    --dark: #25283D;
    --light: #CEA2AC;
    --white: white;
    --red: #F2020A;
    --green: #BBCF3A;

}

body {
    overflow-x:hidden;  
}

