@import url(reset.css);
@import url(buttons.css);
@import url(forms.css);
@import url(typography.css);


:root {
    --primary: #A21314;
    --dark: #080808;
    --light: #212121;
    --white: white;
    --active: #dfc800;
    --red: #F2020A;
    --green: green;

}

.main-body {
    overflow-x: hidden;
    background: rgb(162, 19, 20);
    background: linear-gradient(0deg, rgba(162, 19, 20, 1) 0%, rgb(70, 69, 69) 58%, rgba(8, 8, 8, 1) 100%);
}

input::selection {
    background-color: var(--primary);
    color: var(--white);
}

input:focus {
    outline: none;
}