@import url(reset.css);
@import url(buttons.css);
@import url(forms.css);
@import url(typography.css);


:root {
    --primary:#8661C1;
    --dark: #181528;
    --light: #565E76;
    --white: #F2F4F3;
    --red: #F2020A;
    --green: green;

}

body {
    overflow-x:hidden;
    background-color: var(--dark);  
}

input::selection {
    background-color: var(--primary);
    color: var(--white);
}

input:focus {
    outline: none;
}

