<footer class="footer">
    <section class="footer-contacts">
        
        <ul class="contacts-list">
            <h2>Contacts</h2>
            <li class="contacts-list-item">
                <a class="contacts-list-item-link" href="">
                    Facebook
                </a>
            </li>
            <li class="contacts-list-item">
                <a class="contacts-list-item-link" href="">
                    Instagram
                </a>
            </li>
            <li class="contacts-list-item">
                <a class="contacts-list-item-link" href="">
                    Twitter
                </a>
            </li>
        </ul>
        
        <ul class="contacts-list">
            <h2>Our Partners</h2>
            <li class="contacts-list-item">
                <a class="contacts-list-item-link" href="">
                    G2A Games
                </a>
            </li>
            <li class="contacts-list-item">
                <a class="contacts-list-item-link" href="">
                    Steam
                </a>
            </li>
            <li class="contacts-list-item">
                <a class="contacts-list-item-link" href="">
                    Xfire
                </a>
            </li>
        </ul>
    </section>
</footer>