<main>
    <section class="main-form">
        <div class="form-label">
            <span>New Thread</span>

        </div>
        <form [formGroup]="form" class="form-form" id="thread-form" (submit)="onSubmit()">

            <label class="label" for="title">Thread name</label>
            <textarea formControlName="title" class="textarea" name="title" id="" cols="1" rows="1" [ngClass]="{'invalid': form.controls['title'].touched && 
            form.controls['title'].invalid, 'valid':  
            form.controls['title'].valid}"></textarea>

            <div class="error email-error" [ngClass]="{'error-visisble': form.controls['title'].touched && 
        form.controls['title'].invalid}">
                <p>Invalid thread name.</p>
            </div>

            <label class="label" for="game">Game</label>
            <textarea formControlName="game" class="textarea" name="game" id="" cols="1" rows="1"
            [ngClass]="{'invalid': form.controls['game'].touched && 
            form.controls['game'].invalid, 'valid':  
            form.controls['game'].valid}"></textarea>

            <div class="error email-error" [ngClass]="{'error-visisble': form.controls['game'].touched && 
        form.controls['game'].invalid}">
                <p>Invalid game name.</p>
            </div>

            <label class="label" for="genre">Game genre</label>
            <select formControlName="genre" class="select" name="genre" [ngClass]="{'invalid': form.controls['genre'].touched && 
            form.controls['genre'].invalid, 'valid':  
            form.controls['genre'].valid}">
                <option value="mmorpg">MMORPG</option>
                <option value="shooter">Shooter</option>
                <option value="strategy">Strategy</option>
                <option value="simulation">Simulation</option>
                <option value="bataleroyale">Battle Royale</option>
                <option value="adventure">Adventure</option>
                <option value="cards">Cards</option>
                <option value="roleplay">Roleplay</option>
                <option value="sports">Sports</option>
            </select>

            <div class="error email-error" [ngClass]="{'error-visisble': form.controls['genre'].touched && 
        form.controls['genre'].invalid}">
                <p>Invalid game genre.</p>
            </div>

            <label class="label" for="fileUpload">Thread photo</label>

            <input formControlName="photoUrl" type="file" class="file-input" #fileUpload
                (change)="onFileSelected($event)">
            <p>{{ fileName }}</p>
            <div class="file-upload">

                <button class="form-btn" type="button" (click)="fileUpload.click()">
                    Upload
                </button>
            </div>

            <label class="label" for="description">Description</label>
            <textarea formControlName="description" class="textarea" name="description" cols="1" rows="2"
            [ngClass]="{'invalid': form.controls['description'].touched && 
            form.controls['description'].invalid, 'valid':  
            form.controls['description'].valid}"></textarea>

            <div class="error email-error" [ngClass]="{'error-visisble': form.controls['description'].touched && 
        form.controls['description'].invalid}">
                <p>Description is empty</p>
            </div>

            <label class="label" for="content">Content</label>
            <textarea formControlName="content" class="textarea" name="content" id="" cols="30" rows="10"
            [ngClass]="{'invalid': form.controls['content'].touched && 
            form.controls['content'].invalid, 'valid':  
            form.controls['content'].valid}"></textarea>

            <div class="error email-error" [ngClass]="{'error-visisble': form.controls['content'].touched && 
        form.controls['content'].invalid}">
                <p>Content is empty</p>
            </div>

        </form>

        <button [disabled]="form.invalid" class="form-btn" type="submit" form="thread-form">Submit</button>
    </section>
</main>