<main>
    <section class="main-form">
        <div class="form-label">
            <span>New Thread</span>

        </div>
        <form [formGroup]="form" class="form-form" id="thread-form" (submit)="onSubmit()">

            <label class="label" for="title">Thread name</label>
            <textarea formControlName="title" class="textarea" name="title" id="" cols="1" rows="1"></textarea>

            <label class="label" for="game">Game</label>
            <textarea formControlName="game" class="textarea" name="game" id="" cols="1" rows="1"></textarea>

            <label class="label" for="genre">Game genre</label>
            <select formControlName="genre" class="select" name="genre">
                <option value="mmorpg">MMORPG</option>
                <option value="shooter">Shooter</option>
                <option value="strategy">Strategy</option>
                <option value="simulation">Simulation</option>
                <option value="bataleroyale">Battle Royale</option>
                <option value="adventure">Adventure</option>
                <option value="cards">Cards</option>
                <option value="roleplay">Roleplay</option>
            </select>

            <label class="label" for="fileUpload">Thread image</label>

            <input formControlName="image" type="file" class="file-input" #fileUpload (change)="onFileSelected($event)">

            <p>{{ fileName }}</p>
            <div class="file-upload">

                <button class="form-btn" type="button" (click)="fileUpload.click()">
                    Upload
                </button>
            </div>

            <label class="label" for="description">Description</label>
            <textarea formControlName="description" class="textarea" name="description" cols="1" rows="2"></textarea>

            <label class="label" for="content">Content</label>
            <textarea formControlName="content" class="textarea" name="content" id="" cols="30" rows="10"></textarea>

        </form>

        <button class="form-btn" type="submit" form="thread-form">Submit</button>
    </section>
</main>