.comment-comment {
    border-bottom: 1px solid var(--primary);
    padding: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.comment-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-author-pfp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.comment-author {
    color: var(--white);
    opacity: 0.6;
    font-size: 1.1rem;
    cursor: pointer;
}

.form-btn {
    width: max-content;
    height: max-content;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.form-btn.edit {
    visibility: visible;
}

.comment-form {
    width: 100%;
}

.comment-form div {
    display: flex;
    align-items: center;
}


.textarea.comment {
    background: transparent;
    border: 1px solid transparent;
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 0;
}

.textarea.comment:focus {
    border-bottom: 1px solid var(--active);
}
