<main class="main-profile">
    <div class="form-label">
        <span>Edit Profile</span>

    </div>
    <section class="profile-info">
        <img class="profile-pic" src="https://cdn.mos.cms.futurecdn.net/7pUbqBX8MnDfiUoh67iSX8.jpg"
            alt="profile_picture">

        <section class="profile-info-info">
            
            <button class="profile-btn edit" routerLink="/edit-profile">Change username</button>
            <button class="profile-btn edit" routerLink="/edit-profile">Change profile picture</button>
            <button class="profile-btn edit" routerLink="/edit-profile">Change email</button>
            <button class="profile-btn edit" routerLink="/edit-profile">Change password</button>
        </section>

    </section>

    <section class="profile-actions">
        <button class="profile-btn delete" routerLink="/profile">Cancel</button>
    </section>

</main>