.main-main {
    margin: 0.4rem 0 0 10rem;
    border: 1px solid #99CCFF;
    border-radius: 1.2rem 1.2rem 0 0;
    display: flex; 
    flex-direction: row;
    /* width: calc(75%) - 10rem; */
}

.loading {
    text-align: center;
    font-size: 2rem;
    margin: 0.4rem 0 0 10rem;
}